**/bin
*.class
/lab_6_lr_7/dist/
/lab_7_lr_8/nbproject/private/
/lab_7_lr_8/JSFAppl/nbproject/private/
/lab_7_lr_8/JSFAppl/build/
/lab_7_lr_8/JSFAppl/dist/
/lab_8_lr_9/example/nbproject/private/
/lab_8_lr_9/example/build/
/lab_8_lr_9/example/dist/
/lab_8_lr_9/task/nbproject/private/
/lab_8_lr_9/task/build/
/lab_8_lr_9/task/dist/
/lab_8_lr_9/lab_8_lr_9_task/nbproject/private/
/lab_8_lr_9/lab_8_lr_9_example/nbproject/private/
